doctype html
head
  meta(charset='utf8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon' href='https://inside.catlin.edu/scripts/sched/favicon.ico')
  link(rel='apple-touch-icon' href='https://inside.catlin.edu/scripts/sched/favicon.ico')
style.
  .button {
  background-color: #3b7fed;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
  margin: auto;
  }
  .center{
  text-align: center;
  }
  .not_found{
  }
  .h4_noExist{
  }
section.section
  .container
    .center
      h1.center.not_found
        | Error 404: Page not found.
        h4.center.h4_noExist The page you are looking for does not exist.
        //
          </p></a>
          <a class="center" href="http://https://cgschedulesquad.github.io/cgs-schedule/?">Back to setup</a
        button.center.button(onclick="window.location.href = 'https://cgschedulesquad.github.io/cgs-schedule/';") Back to setup
