.modal-wrapper.bulma
    .modal#calendar-event-modal
        .modal-background#calendar-event-background
        .modal-content
            .box
                article.media
                    .media-content
                        .content
                            h5#calendar-event-title
                            p#calendar-event-body
