doctype html
html
  head
    meta(charset = 'utf8')
    meta(name = 'viewport', content = 'width=device-width, initial-scale=1.0')
    link(rel = 'shortcut icon', href = 'https://inside.catlin.edu/scripts/sched/favicon.ico')
    link(rel = 'apple-touch-icon', href = 'https://inside.catlin.edu/scripts/sched/favicon.ico')
    link(rel = 'stylesheet', href = 'https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css')
    script(src = 'js-util/setup-form-validator.js')
    title Setup
  body
    section.section
      div.container
        div
          h1.title.is-1.has-text-centered.has-text-weight-bold Classic CGS Schedule
          h4.subtitle.is-3.has-text-centered.has-text-weight-bold Written by Liam Wang and Tristan Peng
        hr
        form.needs-validation(novalidate)
          h2.title.is-4 Getting Started
          h6.is-size-5.has-text-weight-semibold Step 1:
          p Sign in to your Veracross portal if you're signed out:&nbsp;
            a(href = 'https://portals.veracross.com/catlin' target = '_blank') Catlin Gabel Portal
          br
          h6.is-size-5.has-text-weight-semibold Step 2:
          p Once you are signed in, click here:&nbsp;
            a(href = 'https://portals.veracross.com/catlin/student/calendar/subscribe/mine' target = '_blank') My Calendars
          br
          h6.is-size-5.has-text-weight-semibold Step 3:
          p Right-click on the&nbsp;
            kbd Subscribe
            | &nbsp;button next to the&nbsp;
            kbd All Classes
            | &nbsp;entry under&nbsp;
            kbd Class Schedules
            | &nbsp;and click&nbsp;
            kbd Copy Link Address
            | .
          br
          h6.is-size-5.has-text-weight-semibold Step 4:
          div.field
            label.label(for = 'allClassesUrl') Paste the link into the box below:
            input#allClassesUrl.input(
              placeholder = 'webcal://api.veracross.com/catlin/subscribe/XXXXXXXX...',
              required,
              pattern = 'webcal:\\/\\/api.veracross.com\\/catlin\\/subscribe\\/[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}.ics\\?uid=[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'
            )
            p#invalid.help.is-danger(style = 'display: none;') Invalid calendar link. Please check the instructions above and try again.
            br
            br
            button.button.is-success.is-large.is-fullwidth(type = 'submit') Generate Schedule Link
          br
          h6.is-size-5.has-text-weight-semibold Step 5:
          p
            | Bookmark the schedule link once it is generated. If you want your schedule on your phone, just text yourself the link!
            br
            | If your schedule doesn't have your class blocks, make sure you copied the correct link in step three and generate your link again.
      div#disclaimerModal.modal
        div.modal-background
        div.modal-card
          header.modal-card-head
            h5.modal-card-title Disclaimer:
            button.close-modal.delete(aria-label = 'close')
          section.modal-card-body
            p
              | - The schedule does not show events before 8:00am and after 3:15pm.
              br
              | - If two events occur at the same time, one of the events will not be shown.
              br
              | - Assemblies and community blocks are not updated automatically, but they are correct as of 9/17/19.
              br
              | - All other schedule events are refreshed every day, so recently added events will not show up immediately.
              br
              | - We are not responsible if you are late or miss class because the schedule was not accurate.
              br
              | -&nbsp;
              a(href = 'https://github.com/CGScheduleSquad/cgs-schedule#terms-and-conditions', target = '_blank')
                | You have read and agree to the Terms and Conditions before using CGS Schedule
              | .
          footer.modal-card-foot
            button.close-modal.button(aria-label = 'close') Cancel
            button.button.is-success Agree