doctype html
html
    head
        meta(charset = 'utf8')
        meta(name = 'viewport', content = 'width=device-width, initial-scale=1.0')
        link(rel = 'shortcut icon', href = 'https://inside.catlin.edu/scripts/sched/favicon.ico')
        link(rel = 'apple-touch-icon', href = 'https://inside.catlin.edu/scripts/sched/favicon.ico')
        link(rel = 'stylesheet', href = 'https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css')
        link(rel = 'stylesheet', href = 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        script(src = 'js/setup-form-validator.js')
        title Setup
    body
        section.section
            .container
                div
                    h1.title.is-1.has-text-centered.has-text-weight-light Classic CGS Schedule
                    h4.subtitle.is-3.has-text-centered.has-text-weight-light Written by Liam Wang and Tristan Peng
                hr
                form.needs-validation(novalidate)
                    h2.title.is-4 Getting Started
                    h6.is-size-5.has-text-weight-semibold Step 1:
                    p Students: Sign in to your Veracross portal and navigate to this page:&nbsp;
                        a(href = 'https://portals.veracross.com/catlin/student/calendar/subscribe/mine' target = '_blank') Student Calendars
                    p Faculty: Sign in to your Veracross portal and navigate to this page:&nbsp;
                        a(href = 'https://portals.veracross.com/catlin/faculty/calendar/subscribe/mine' target = '_blank') Faculty Calendars
                    br
                    h6.is-size-5.has-text-weight-semibold Step 2:
                    p Right-click on the&nbsp;
                        code Subscribe
                        | &nbsp;button next to the&nbsp;
                        code All Classes
                        | &nbsp;entry under&nbsp;
                        code Class Schedules
                        | &nbsp;and click&nbsp;
                        code Copy Link Address
                        | .
                    br
                    h6.is-size-5.has-text-weight-semibold Step 3:
                    .field
                        label.label.has-text-weight-normal(for = 'allClassesUrl') Paste the link into the box below:
                        input#allClassesUrl.input(
                            placeholder = 'webcal://api.veracross.com/catlin/subscribe/XXXXXXXX...',
                            required,
                            pattern = 'webcal:\\/\\/api.veracross.com\\/catlin\\/subscribe\\/[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}.ics\\?uid=[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'
                        )
                        p#invalid.help.is-danger(style = 'display: none; position: absolute') Invalid calendar link. Please check the instructions above and try again.
                        button.button.is-link.is-large.is-fullwidth(type = 'submit', style='margin-top: 1.2em') Generate Schedule Link
                    h6.is-size-5.has-text-weight-semibold Step 4:
                    p
                        | Bookmark the schedule link once it is generated. If you want your schedule on your phone, just text yourself the link!
                        br
                        | If your schedule doesn't have your class blocks, make sure you copied the correct link in step three and generate your link again.
            #disclaimerModal.modal
                .modal-background
                .modal-card
                    header.modal-card-head
                        h5.modal-card-title Disclaimer:
                        button.close-modal.delete(aria-label = 'close')
                    section.modal-card-body
                        p
                            | - The schedule does not show events before 8:00am and after 3:15pm.
                            br
                            | - If two events occur at the same time, one of the events will not be shown.
                            br
                            | - Assemblies and community blocks are not updated automatically, but they are correct as of 9/17/19.
                            br
                            | - All other schedule events are refreshed every day, so recently added events will not show up immediately.
                            br
                            | - We are not responsible if you are late or miss class because the schedule was not accurate.
                            br
                            | -&nbsp;
                            a(href = 'https://github.com/CGScheduleSquad/cgs-schedule#terms-and-conditions', target = '_blank')
                                | You have read and agree to the Terms and Conditions before using CGS Schedule
                            | .
                    footer.modal-card-foot
                        button.close-modal.button(aria-label = 'close') Cancel
                        button.button.is-success.generate-link Agree
            #schoolSelectorModal.modal
                .modal-background
                .modal-card
                    header.modal-card-head
                        h5.modal-card-title Are you in the middle school or upper school?
                        button.close-modal.delete(aria-label = 'close')
                    footer.modal-card-foot
                        button.button.is-info#ms-link Middle School
                        button.button.is-primary#us-link Upper School