.modal-wrapper.bulma
    .modal#new-link-modal
        .modal-background
        .modal-content
            .box
                .modal-card-title.p-b-md Schedule generated. Please bookmark the link and/or text it to your phone.
                .field.has-addons(style='width:100%')
                    .control.is-expanded
                        input.is-fullwidth.input(type='text')
                    .control
                        a.button.is-info
                            | Copy
