doctype html
html
    head
        meta(name = 'viewport', content = 'width=device-width, initial-scale=0.6')
        meta(name = 'apple-mobile-web-app-capable', content = 'yes')
        // reload the page every 30 mins
        meta(http-equiv="refresh" content="1800")
        link(rel = 'shortcut icon', href = 'favicon.ico')
        link(rel = 'apple-touch-icon-precomposed', sizes = '144x144', href = 'img/apple-touch-icon-144x144-precomposed.png')
        link(rel = 'apple-touch-icon-precomposed', sizes = '114x114', href = 'img/apple-touch-icon-114x114-precomposed.png')
        link(rel = 'apple-touch-icon-precomposed', sizes = '72x72', href = 'img/apple-touch-icon-72x72-precomposed.png')
        link(rel = 'apple-touch-icon-precomposed', href = 'img/apple-touch-icon-precomposed.png')
        title CGS Schedule
    body(style="text-align: center")
        h1 That's all, folks!
        p Thank you for using Liam and Tristan's schedule viewer. We had a good run!
        p
            a(target="_blank" href="https://github.com/CGScheduleSquad/cgs-schedule")
                                | The code is open-source on GitHub
        p
            a(target="_blank" href="https://docs.google.com/spreadsheets/d/1kfA4DS8-bV-ngZYRQwt4hAqMVSQDeGjU71BqfnR9MlY/edit#gid=0")
                                | See the final crowd-sourced themes and class links here
        p
            a#rickroll
                                | Don't click here
        p Have a great summer!
