.modal-wrapper
    .modal#settings-modal
        .modal-background
        .modal-card
            header.modal-card-head
                p.modal-card-title Settings
            section.modal-card-body
                .field.is-horizontal
                    .field-label.is-normal
                        label.label Theme
                    .field-body
                        .field.is-narrow
                            .control
                                .select.is-fullwidth
                                    select#theme
                                        option Classic
                                        option Dark
            footer.modal-card-foot
                button.button.is-success#save-settings Save changes
                button.button#cancel-settings Cancel