.modal-wrapper.bulma
    .modal#settings-modal
        .modal-background
        .modal-card
            header.modal-card-head
                p.modal-card-title CGS Schedule Settings
            section.modal-card-body
                .field
                    label.label
                        | Theme
                        i.fas.fa-palette.p-l-sm
                    .field.has-addons
                        .control.is-expanded
                            .select.is-fullwidth
                                select#theme
                        .control
                            a.button( target = '_blank' href='https://docs.google.com/spreadsheets/d/1kfA4DS8-bV-ngZYRQwt4hAqMVSQDeGjU71BqfnR9MlY/edit#gid=1757467265' ) Create New Theme
                    p.help Selects a user-created color theme for the schedule.
                .field
                    label.label
                        | Class Homepage Links
                        i.fas.fa-link.p-l-sm
                    .control
                        input#class-links.switch.is-rounded.is-medium.is-info(type='checkbox' name='class-links' checked='checked')
                        label(for='class-links')
                        a.button( target = '_blank' href='https://docs.google.com/spreadsheets/d/1kfA4DS8-bV-ngZYRQwt4hAqMVSQDeGjU71BqfnR9MlY/edit#gid=0' ) Add More Links
                    p.help
                        | Enables or disables user-added class links. Left-click on class blocks to open the first link for your class. Right-click on class blocks to see a list of all the links for your class.
                .field
                    label.label
                        | Homework Calendar Events
                        i.far.fa-calendar-alt.p-l-sm
                    .control
                        input#calendar-events.switch.is-rounded.is-medium.is-success(type='checkbox' name='calendar-events' checked='checked')
                        label(for='calendar-events')
                        a.button.m-l-sm( target = '_blank' href='https://docs.google.com/spreadsheets/d/1kfA4DS8-bV-ngZYRQwt4hAqMVSQDeGjU71BqfnR9MlY/edit#gid=1673690997' ) Add Canvas Calendar
                        a.button.m-l-sm( target = '_blank' href='https://docs.google.com/spreadsheets/d/1kfA4DS8-bV-ngZYRQwt4hAqMVSQDeGjU71BqfnR9MlY/edit#gid=1636868429' ) Add Google Sheet
                        a.button.m-l-sm( target = '_blank' href='https://docs.google.com/spreadsheets/d/1kfA4DS8-bV-ngZYRQwt4hAqMVSQDeGjU71BqfnR9MlY/edit#gid=216143315' ) Add Haiku Calendar
                    p.help
                        | Enables or disables inline homework calendar events from Canvas and Haiku iCal feeds and from Google Sheets schedules. To get to the class links for blocks with calendar events, right click on the block.
                .field
                    label.label
                        | Next Day Highlighting
                        i.fas.fa-highlighter.p-l-sm
                    .control
                        input#day-highlight.switch.is-rounded.is-medium(type='checkbox' name='day-highlight' checked='checked')
                        label(for='day-highlight')
                    p.help
                        | Enables or disables highlighting of the current day in week view.
                .field
                    label.label
                        | Tips
                        i.fas.fa-lightbulb.p-l-sm
                    p.help
                        | - Hold the "ctrl" or "command" key and left click on multiple blocks to open several new links
                        br
                        | - Click on any date label (Mon Oct 14) to view the day's schedule in Veracross
                        br
                        | - On touchscreen devices, swipe left and right to navigate between days
                        br
                        | - The schedule is mobile-friendly, just click on the "Today" view and text the link to your phone

            footer.modal-card-foot
                button.button.is-info#save-settings Save changes
                button.button#cancel-settings Cancel
                div(style="text-align: right; width: 100%")
                    a(target="_blank" href="https://github.com/CGScheduleSquad/cgs-schedule")
                        | CGS Schedule is open-source on GitHub
