.modal-wrapper.bulma
    #zoomModal.modal
        .modal-background#zoomModalBackground
        .modal-card
            header.modal-card-head
                h5.modal-card-title#zoomModalTitle(style="text-align:center;font-size:1.3em") Honors Statistics is starting soon
                button.delete#zoomModalExit
            footer.modal-card-foot(style="display:flex; flex-direction:column")
                button.button.is-fullwidth.is-large.is-link#zoomModalButton(style="padding: 0 10px") Join Zoom Meeting

