$icons: (
    1: mix(#ffce51, #000, 90%),
    2: mix(#a67fb9, #000, 90%),
    3: mix(#e67326, #000, 90%),
    4: mix(#00abbd, #000, 90%),
    5: mix(#aac02c, #000, 90%),
    6: mix(#ef4957, #000, 90%),
    7: mix(#ff75f2, #000, 90%),
    activity: #9a9a9a,
    free: #333
);
$bgcolor: #333;
$color: #fff;